<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hm.schedule.mapper.LogMapper">

    <insert id="insertLog" parameterType="com.hm.schedule.entity.ScheduleLog">
        INSERT INTO qrtz_logs
        (
        TRIGGER_NAME, TASK_NAME, QTIME, REMARK, COSTTIME, RESULT
        )
        VALUES
        (
        #{triggerName}, #{taskClassName}, #{createTime}, #{remark}, #{costTime}, #{result}
        )
    </insert>

</mapper>